.info {
    color: #2D2D2D;
}

.h1 {
    animation: fadeIn 1s;
    position: relative;
    width: auto;
    right: 0;
    top: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: right;
    letter-spacing: -0.015em;
    text-transform: capitalize;
    color: #2D2D2D;
}

.h1Mobile {
    animation: fadeIn 1s;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.015em;
    text-transform: capitalize;
    color: #2D2D2D;
    margin-bottom: 10px;
}

.h2 {
    animation: fadeIn 1s;
    position: relative;
    width: auto;
    height: 38px;
    right: 0;
    top: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    text-align: right;
    letter-spacing: -0.015em;
    color: #2D2D2D;
}

.h2Mobile {
    animation: fadeIn 2s;
    /*animation: fadeInRight 1s ease-in-out;*/
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
    letter-spacing: -0.015em;
    color: #2D2D2D;
    margin-bottom: 10px;
}

.textMain {
    animation: fadeIn 1s;
    position: relative;
    width: auto;
    height: auto;
    left: 0;
    top: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: justify;
    text-align-last: right;
    letter-spacing: 0.0015em;
    color: #6A6A6A;
}
.textMainMobile {
    animation: fadeIn 3s;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.0015em;
    color: #6A6A6A;
    margin-bottom: 10px;
    text-align: justify;
    text-align-last: right;
}
.textTags {
    animation: fadeIn 1s;
    position: relative;
    width: 433px;
    height: auto;
    right: 0;
    top: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: justify;
    text-align-last: right;
    letter-spacing: 0.015em;
    color: #9B9B9B;
}

.textTagsMobile {
    animation: fadeIn 1s;
    position: relative;
    height: auto;
    right: 0;
    top: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    text-align: justify;
    text-align-last: right;
    letter-spacing: 0.015em;
    color: #9B9B9B;
}


.image {
    animation: fadeIn 2s;
    width: auto;
    height: auto;
    object-fit: fill;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}